* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    width: 100%;
}

.container {
    width: 600px;
    height: 600px;
    margin: 40px auto;
    background-color: royalblue;
}

h1 {
    color: rgb(22, 230, 84);
    text-align: center;
    padding: 10px;
}

.tic-grid {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: none;
}

.tic-grid > div {
    background-color: rgb(246, 249, 249);
    border: 1px solid black;
}

.square {
    padding: 28%;
    font-size: 4em;
    font-weight: bold;
}

.show-message {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 40%;
    border: 2px solid greenyellow;
    border-radius: 10px;
    background-color: rgb(27, 29, 27);
    font-size: 2.6em;
    color: #26e21f;
    padding: 50px 30px 30px 40px;
}


